/* DEFAULTS */
:root {
  --mainColor: #0f172a; /* Dark Knight */

  --sidebarText: #cbd5e1;

  --backgroundImage: url("../images/MandaueBackground.jpg");

  --sidebar-hover: #1e293b;
  --sidebar-border: #1e293b;
  --sidebar-accent: #3b82f6;
  --sidebarText-muted: #94a3b8;
}
